.md-heading {
  line-height: 1.25;
  position: relative;
}

.md-heading>.md-link {
  display: flex;
  position: absolute;
  height: 100%;
  width: var(--section-padding-inline);
  left: calc(var(--section-padding-inline) * -1);
  align-items: center;
  justify-content: center;
}

.md-heading>.md-link>.icon-link {
  visibility: hidden;
  width: var(--section-padding-inline);
}

.md-heading:hover>.md-link>.icon-link {
  visibility: visible;
}

h1.md-heading {
  font-size: 2em;
}

.md-code-block {
  margin-block: 1.5em;
}

.md-code-block code {
  display: block;
  font-size: 0.875em;
  line-height: 1.4;
}